<div id="menu-container">
    <div class="col s10 m10 offset-m1 offset-s1 panelbackground">
        <hr>
        <h5 class="center">Incidencias del Sitio</h5>
        <hr>
        <ul class=" tabs tab-profile z-depth-3 red">
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" href="#forminsidencia">Seguimientos Resueltos                </a>
            </li>
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" href="#forminsidencianoresuelta">Seguimientos Sin Resolver
                </a>
            </li>
        </ul>


        <form id="forminsidencia">
            <div class="col s12 m12 center" style="margin-top:50px">
                <i class="material-icons prefix">search</i>
                <input id="searchtxt" type="text" class="validate center" placeholder="Buscar incidencia">
            </div>
            <div class="row">
                <table id="seguimientos" class="responsive-table highlight scroll-y" style="margin: 20px auto;">
                    <thead>
                        <tr>
                            <th data-field="id">No. Incidencia</th>
                            <th data-field="estado">Estado</th>
                            <th data-field="fecha">Fecha</th>
                            <th data-field="titulo">Titulo</th>
                            <th data-field="contenido">Contenido</th>
                            <th data-field="usuario">Usuario</th>
                        </tr>
                    </thead>
                    <tbody id="table1">
                        <?php include( GET_DIR . 'insidenciatableresueltaGet.php')?>
                    </tbody>
                </table>
            </div>
        </form>

        <form id="forminsidencianoresuelta">
            <div class="col s12 m12 center" style="margin-top:50px">
                <i class="material-icons prefix">search</i>
                <input id="searchtxt" type="text" class="validate center" placeholder="Buscar incidencia">
            </div>
            <div class="row">
                <table id="seguimientos2" class="col s12 m12 centered bordered scroll-y">
                    <thead>
                        <tr>
                            <th data-field="id">No. Incidencia</th>
                            <th data-field="estado">Estado</th>
                            <th data-field="fecha">Fecha</th>
                            <th data-field="titulo">Titulo</th>
                            <th data-field="contenido">Contenido</th>
                            <th data-field="usuario">Usuario</th>
                        </tr>
                    </thead>
                    <tbody id="table2">
                        <?php include( GET_DIR . 'incidenciatablenoresueltaGet.php')?>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

</div>

<script src="<?php echo(AJAX_DIR)?>seguimientositio.js">
</script>
