<div id="menu-container">
    <div class="col s10 m10 offset-m1 offset-s1 panelbackground">
        <hr>
        <h5 class="center">Nueva Incidencia</h5>
        <hr>
         <div class="row">
            <form class="col s12 m12 " id="agregarinsidencia">
                <div id="result"></div>
                <div class="row">
                <div class="input-field col s8">
                <input placeholder="Titulo" name="titulo" type="text" class="validate">
                </div>
                </div>
                <div class="row">
                    <div class="input-field col s12 m12">
                    <textarea placeholder="Descripcion" name="descripcion" class="materialize-textarea"></textarea>
                </div>
                </div>
                <div class="col s6 m3">
                <button style="margin-top:50px" class="btn-large waves-effect waves-light green tooltipped" type="submit" data-position="top" data-delay="50" data-tooltip="Agregar incidencia">Agregar incidencia</button>
                </div>
                <div class="file-field input-field col s12 m6 offset-m3" style="margin-top:-1px">
                            <div class="btn">
                                <i class="material-icons">attach_file</i>
                                <span>Adjuntar</span>
                                <input type="file" id="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text" name="fileToUpload" id="fileToUpload">
                            </div>
                        </div>
            </form>
            <br>
            <hr>
            <h5 class="center">Registro de Seguimientos</h5>
            <hr>
            <br>

        <ul class=" tabs tab-profile z-depth-3 red">
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" href="#forminsidencia">Seguimientos Resueltos                </a>
            </li>
            <li class="tab col s4">
                <a class="white-text waves-effect waves-light" href="#forminsidencianoresuelta">Seguimientos Sin Resolver
                </a>
            </li>
        </ul>


        <form id="forminsidencia">
            <div class="col s12 m12 center" style="margin-top:50px">
                <i class="material-icons prefix">search</i>
                <input id="searchtxt" type="text" class="validate center" placeholder="Buscar incidencia">
            </div>
            <div class="row">
                <table id="seguimientos" class="responsive-table highlight scroll-y" style="margin: 20px auto;">
                    <thead>
                        <tr>
                            <th data-field="id">No. Incidencia</th>
                            <th data-field="estado">Estado</th>
                            <th data-field="fecha">Fecha</th>
                            <th data-field="titulo">Titulo</th>
                            <th data-field="contenido">Contenido</th>
                            <th data-field="usuario">Usuario</th>
                        </tr>
                    </thead>
                    <tbody id="table1">
                        <?php include( GET_DIR . 'insidenciatableresueltaGet.php')?>
                    </tbody>
                </table>
            </div>
        </form>

        <form id="forminsidencianoresuelta">
            <div class="col s12 m12 center" style="margin-top:50px">
                <i class="material-icons prefix">search</i>
                <input id="searchtxt" type="text" class="validate center" placeholder="Buscar incidencia">
            </div>
            <div class="row">
                <table id="seguimientos2" class="col s12 m12 centered bordered scroll-y">
                    <thead>
                        <tr>
                            <th data-field="id">No. Incidencia</th>
                            <th data-field="estado">Estado</th>
                            <th data-field="fecha">Fecha</th>
                            <th data-field="titulo">Titulo</th>
                            <th data-field="contenido">Contenido</th>
                            <th data-field="usuario">Usuario</th>
                        </tr>
                    </thead>
                    <tbody id="table2">
                        <?php include( GET_DIR . 'incidenciatablenoresueltaGet.php')?>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
<script src="<?php echo(AJAX_DIR)?>seguimientositio.js">
</script>

</div>

