<div id="menu-container">
    <div id="menu">
        <div class="row center" style="margin-top:40px">
           <div class="chip white center">
                <img src="<?php echo(IMG_DIR)?>add.png" alt="Contact Person"> <a id="enlace" href="?view=subcategoria&url=<?php echo($_GET['url']);?>">Gestiòn de subcategoria</a>
            </div>
            <div class="chip white center">
                <img src="<?php echo(IMG_DIR .'lock.png')?>"></img> <a id="enlace" href="?view=permisos&url=<?php echo($_GET['url']);?>">Permisos</a>
            </div>
        </div>
        <div class="row">
            <?php include( GET_DIR . 'subcategoriasGet.php')?>
        </div>
    </div>
</div>
</div>
