<div id="modal-modificar-insidencia" class="modal" role="dialog">
    <div class="modal-content">
        <h4>Modificar Descripcion</h4>
        <hr>
        <form class="col s12" id="formmodificar" method="get">
            <div class="input-field col s12">
                <textarea id="id_insidencia" class="materialize-textarea" name="contenido" required></textarea>
                <label for="textarea1">Actualizar Insidencia</label>
            </div>
            <div class="row center">
                <button type="submit" class="modal-action modal-close waves-effect waves-green btn">Modificar</a>
            </div>
            <input type="hidden" value="" name="id_insidencia" id="id_insidencia">
        </form>
    </div>
</div>


